// Fonts
$bodyFont: 'Montserrat', sans-serif;
$headingFont: 'Roboto Condensed', sans-serif;
$buttonFont: 'Montserrat', sans-serif;

// Colors
$primary: #4c5c68;
$secondary: #252525;
$darkColor: #141414;
$vudu: #0077b6;
$primeVideo: #ffb703;
$moviesAnywhere: #6a4c93;
$iTunes: #ff5454;
$bluRay: #00b4d8;
$dvd: #adb5bd;
$ratedG: #1b7e23;
$ratedPG13: #ffdb02;
$ratedR: #8c0909;

// Selects
$arrow-bg: rgba(76, 92, 104, 0.8);
$arrow-icon: url('./assets/images/caret-down.svg');
$option-bg: #fff;
$select-bg: rgba(76, 92, 104, 0.6);
